html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #a7b6cdff;
}
img{
  border-radius: 3%;
  border-color: #abcaf2;
  border-color: #166ddf;
}
.brygada-1918-<uniquifier> {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{
font-family: "Brygada 1918", serif;
}
