html {
  height: 100%;
  width: 100%;
}
body{
  background-color: #ffb8c9ff;
  font-family: 'Courier New', Courier, monospace;
}
img{
  border-radius: 3%;
  border-color: #a6264c;
}
.lancelot-regular {
  font-family: "Lancelot", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Lancelot", serif;
}
